<a  href="" onclick="getFacets(this.dataset.ids)" data-ids= <%= "#{facet[1]}" %> ><li class="facet" data-ids= <%= "#{facet[1]}" %> > <span class="brand-name"><%=facet[0].capitalize%></span> </li></a>
