<div id="s-box">
			<form action="results" id="search-form">
				<input type="search"  name='q' value="find your sound.."><!--
				--><input id="search-button" type="submit" value="Go!">
			</form>
		</div>
