<div id="left-stripe" class="stripe">

<div class="results-container">

<div class="result">
	<h1 class="result-header">
		<ul class="result-header-ul">
			<li class="merchant">GH MUSIC <span class="address">VIC,Flemington</span></li>
			<li class="price"><span class="currency">AUD</span>399</li>
		</ul>
	</h1>
	<div class="product-details">
		
		<div class="product-img-wrapper"> <img src="logo.png" alt="" class="product-img"> </div>
		  <p class="product-info"> Sabian AAX 14" Stage Hats </p> 
		
	</div>
</div>



</div>

</div>