<div id="logo" > 
<a href="/"><svg viewBox="0 0 260 40">
  <image x="4" y="-1" width="2.1em" height="2.1em" xlink:href="logo.png" />
<text x="2" y="25"><tspan>C</tspan>ymbal <tspan>F</tspan>inder</text>
</svg></a>	
</div>
