// Place all the styles related to the Retailer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
padding-left: 25px;
}

ul {
list-style: none;
padding-left: 0;
}

.maker {
display: inline-block;
width: 18%;	
}

.key {
font-weight: bold;
}

.val {
font-size: 18px;
}